{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Documents{% endblock %}</h1>
    {% if g.user %}
        <a class="action", href="{{ url_for('documents.create') }}">New</a>
    {% endif %}
{% endblock %}

{% block content %}
    {% for document in documents %}
        <article class="post">
            <header>
                <div>
                    <h1>{{ document['title'] }}</h1>
                    <div class="about">by {{ document['username'] }} on {{ document['created'].strftime('%Y-%m-%d') }}</div>
                </div>
                {% if g.user.user_id == document['author_id'] %}
                    <a class='action' href="{{ url_for('documents.update', id=document['id']) }}">Edit</a>
                {% endif %}
            </header>
            <p class="body"> {{ document['body'] }}</p>
        </article>
        {% if not loop.last %}
            <hr>
        {% endif %}
    {% endfor %}
{% endblock %}